.btn{
    width: 200px;
    height: 100px;
    background-color: blueviolet;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    transition-duration: 200ms;
}

#anim1{
    border: 3px solid blueviolet;
    transition-duration: 200ms;
}
#anim1:hover{
    background-color: blueviolet;
    color: white;
}